name: Deploy GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: Legion2/swagger-ui-action@v1
        with:
          output: swagger-ui
          spec-file: ./openapi.yaml
          version: 5.31.0
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          INDEX_HTML=$(find swagger-ui -name index.html | head -n 1)
          sed -i 's|</head>|<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-themes@1.4.3/themes/gruvbox.css" />\n</head>|' "$INDEX_HTML"
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: swagger-ui
